<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="fragment-company-performance-add-script">
    <script th:inline="javascript">
        $(document).ready(function () {
            let timeout = null; // key-up 이벤트 호출 시간 조절

            $('#btn-add-performance').click(function () {
                $('#btn-add-performance').prop('disabled', true);
                $('#ticker-search').prop('readonly', true);

                let checkedTicker = $('input[name="ticker-radio"]:checked').attr('id');
                let checkedCompany = $('input[name="ticker-radio"]:checked').attr('company');

                $.ajax({
                    type: 'post',
                    url: '/finance/' + checkedTicker + '/' + checkedCompany,
                    dataType: 'text',
                    success: function (res) { // 결과 성공 콜백함수
                        alert(res)
                        $('#btn-add-performance').prop('disabled', false);
                        $('#ticker-search').prop('readonly', false);
                        window.location.href = "/"
                    },
                    error: function (request, status, error) { // 결과 에러 콜백함수
                        alert(error)
                        $('#btn-add-performance').prop('disabled', false);
                        $('#ticker-search').prop('readonly', false);
                    }
                });
            })


            $('#ticker-search').keyup(function () {
                let ticker = $('#ticker-search').val();
                clearTimeout(timeout);
                timeout = setTimeout(() => {
                    if (ticker.length > 0) {
                        $.ajax({
                            type: 'get',
                            url: '/ticker/' + ticker,
                            dataType: 'json',
                            success: function (res) { // 결과 성공 콜백함수
                                let tickerList = ``;
                                if (res.length > 0) {
                                    res.forEach(function (e, i) {
                                        tickerList = tickerList +
                                            `<div class="form-check">
                                                <input class="form-check-input" type="radio" name="ticker-radio"
                                                    id="` + e.ticker + `"
                                                    company="` + e.company + `">
                                                <label class="form-check-label" for="` + e.ticker + `">
                                                    <p>
                                                        <span style="font-weight: bold">
                                                            ` + e.ticker + `
                                                        </span>
                                                        <span style="font-size: 15px; color: gray">
                                                            ` + e.company + `
                                                        </span>
                                                    </p>
                                                    <p>` + e.sector + `</p>
                                                </label>
                                            </div>`
                                    })
                                }
                                $('#ticker-list').html(tickerList)
                            },
                            error: function (request, status, error) { // 결과 에러 콜백함수
                                $('#ticker-list').html('<span>존재하지 않는 티커입니다.</span>')
                            }
                        });
                    }
                }, 500); // 500ms 대기
            })
        });
    </script>
</head>