<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header></header>

<body>
<th:block th:fragment="fragment-company-performance-add-modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">기업 추가</h1>
                </div>
                <div class="modal-body">
                    <input id="ticker-search" class="form-control" type="text" placeholder="티커를 입력해주세요."
                           aria-label="티커를 입력해주세요.">
                    <div style="margin-top: 10px;">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                <span>티커</span>
                                <span>회사명</span>
                                <span>섹터</span>
                                <span>산업</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                   checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                <span>티커</span>
                                <span>회사명</span>
                                <span>섹터</span>
                                <span>산업</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">닫기</button>
                    <button id="btn-add-performance" type="button" class="btn btn-info" style="color: white">추가</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>

</html>