<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header></header>

<body>
<th:block th:fragment="fragment-nav">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><h1>Anything</h1></a>
            <div class="collapse navbar-collapse" id="navbarText">
                <div>
                    <!-- 환율 정보를 출력하는 부분 -->
                    <th:block th:each="e, iterStat : ${exchangeRate}">
                        <span id="exchangeRate-wrap" style="display:inline-block; width:150px">
                            <span style="font-weight:bold" th:text="${e.name}">환율종류</span>
                            <span style="font-weight:bold" th:text="|${e.basePrice}원|">환율</span>
                        </span>
                    </th:block>

                    <br/>

                    <span id="stock"></span>
                    <!-- 주식 추가 버튼 -->
                    <a href="#" id="add-stock"><img th:src="@{/img/stock-add.png}" alt="Add Stock" style="width:35px;"/></a>
                </div>

                <!-- 비로그인 상태 -->
                <div class="navbar-text ms-auto" th:if="!${#authorization.expression('isAuthenticated()')}">
                    <button type="button" onclick="location.href='/login'" class="btn btn-dark">Sign In</button>
                    <button type="button" onclick="location.href='/join'" class="btn btn-dark">Sign Up</button>
                </div>

                <!-- 로그인 상태 -->
                <div class="navbar-text ms-auto" th:if="${#authorization.expression('isAuthenticated()')}">
                    <button type="button" onclick="location.href='/logout'" class="btn btn-dark">Logout</button>
                </div>
            </div>
        </div>
    </nav>
</th:block>
</body>

</html>