<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="fragment-news-script">
    <script th:inline="javascript">
        $(document).ready(function () {
            // 날짜 포맷팅
            function formatISODateToCustomFormat(date) {
                var parts = date.split('T');
                // 날짜와 시간을 공백으로 연결
                var formattedDate = parts[0] + ' ' + parts[1];
                return formattedDate;
            }

            // 뉴스 기사 제목 글자수 줄이기
            function titleLength() {
                var maxSize = 33;

                $('.newsTitle').each(function(i, e) {
                    var text = $(this).text();

                    if (text.length > maxSize) {
                        var truncatedText = text.substring(0, maxSize) + "... ";
                        $(this).text(truncatedText);
                    }
                })
            }
            titleLength();

            // enter key 이벤트
            $('#val-newsKeyword').keypress(function(e) {
                if (e.which === 13) {
                    e.preventDefault();
                    callbackSearchNews(); // 검색 함수 호출
                }
            });

            // 뉴스 검색 이벤트 등록
            $('#btn-searchNews').click(callbackSearchNews)

            // 뉴스 검색 이벤트
            function callbackSearchNews() {
                var keyword = $('#val-newsKeyword').val();

                if (![[${#authorization.expression('isAuthenticated()')}]]) {
                    alert('로그인 이후에 이용하실 수 있습니다.')
                    return false;
                }

                if(!keyword) {
                    alert('검색어를 입력해주세요.')
                    return false;
                }

                $.ajax({
                    type : 'get',           // 타입 (get, post, put 등등)
                    url : '/news/' + keyword,           // 요청할 서버url
                    dataType : 'json',       // 데이터 타입 (html, xml, json, text 등등)
                    /*
                        headers : {              // Http header
                            "Content-Type" : "application/json"
                        },
                        data : JSON.stringify({  // 보낼 데이터 (Object , String, Array)
                            "keyword" : keyword
                        }),
                    */
                    success : function(res) { // 결과 성공 콜백함수
                        // 뉴스리스트 지우기
                        $('#newsList').empty();

                        // 새로운 news list
                        $.each(res.news.items, function(index, e) {
                            var newsItemHtml = `
                                <a href="${e.link}" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1 newsTitle">${e.title}</h5>
                                        <small class="newsDate">${formatISODateToCustomFormat(e.pubDate.substring(0, 16))}</small>
                                    </div>
                                    <p class="mb-1 text-start newsDec">${e.description}</p>
                                </a>
                            `;

                            $('#newsList').append(newsItemHtml);
                        });

                        // 뉴스 제목 자르기
                        titleLength();
                    },
                    error : function(request, status, error) { // 결과 에러 콜백함수
                        console.log(error)
                    }
                })
            }

            // 핫키워드 클릭 시 해당 키워드로 뉴스 검색
            $('.hotKeyword').click(function() {
                var clickedKeyword = $(this).text().replace('#', '').trim()
                $('#val-newsKeyword').val(clickedKeyword);
                callbackSearchNews()
            })
        });
    </script>
</head>