<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header></header>

<body>
<th:block th:fragment="fragment-company-performance">
    <div class="col">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <h1 class="text-start">
                <span class="badge bg-dark">기업 실적표</span>
            </h1>
            <!-- Button trigger modal -->
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <h4 class="text-start">
                <span class="badge bg-info" data-bs-toggle="modal" data-bs-target="#exampleModal"
                      style="cursor: pointer;">기업 추가</span>
                </h4>
            </th:block>
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <!-- 비로그인 -->
                <th:block th:if="!${#authorization.expression('isAuthenticated()')}">
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="5">기업이름</th>
                            </tr>
                            </thead>
                            <thead>
                            <tr>
                                <th scope="col">발표일</th>
                                <th scope="col">EPS(주당순이익)</th>
                                <th scope="col">매출액</th>
                                <th scope="col">당기순이익</th>
                                <th scope="col">순이익마진율</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="5">로그인 후에 이용하실 수 있습니다.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </th:block>

                <!-- 로그인 -->
                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <th:block th:each="e, i: ${performanceList}">
                        <div class="carousel-item" th:classappend="${i.index == 0} ? 'active' : ''">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th colspan="5" th:text="${e.company}">기업이름</th>
                                </tr>
                                </thead>
                                <thead>
                                <tr>
                                    <th scope="col">발표일</th>
                                    <th scope="col">EPS(주당순이익)</th>
                                    <th scope="col">매출액</th>
                                    <th scope="col">당기순이익</th>
                                    <th scope="col">순이익마진율</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="data: ${e.performanceList}">
                                    <tr>
                                        <th scope="row" th:text="${data.relDate}">발표일</th>
                                        <td th:text="${data.eps}">EPS(주당순이익)</td>
                                        <td th:text="${data.salesRevenue}">매출액</td>
                                        <td th:text="${data.netIncome}">당기순이익</td>
                                        <td th:text="${data.netProfitMargin}">순이익마진율</td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </th:block>
                </th:block>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev"
                    style="background-color:black; width: 20px; opacity: 1;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next"
                    style="background-color:black; width: 20px; opacity: 1;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</th:block>
</body>

</html>