<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header></header>

<body>
<th:block th:fragment="fragment-naver-news">
    <div class="col">
        <div style="display: flex; align-items: center">
            <h1 class="text-start">
                <span class="badge bg-dark">뉴스</span>
            </h1>
            <!-- 로그인 했을 시 -->
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <span class="hotKeyword-wrap" style="margin-left: 20px; color:gray">
                            <th:block th:each="e: ${hotKeywordList}">
                                <span class="hotKeyword" style="cursor: pointer" th:text="|#${e.keyword}|">#애플</span>
                            </th:block>
                        </span>
            </th:block>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">#</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                   id="val-newsKeyword" th:value="${keyword} ?: ''">
            </script>
            <button class="btn btn-dark" type="button" id="btn-searchNews">검색</button>
        </div>
        <div class="overflow-auto" style="max-height: 75vh">
            <div class="list-group" id="newsList">
                <!------------------------------------------ 뉴스 start ------------------------------------------>
                <!-- 비로그인 -->
                <th:block th:if="!${#authorization.expression('isAuthenticated()')}">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">
                                로그인 이후에 이용하실 수 있습니다.
                            </h5>
                            <small></small>
                        </div>
                        <p class="mb-1 text-start"></p>
                    </a>
                </th:block>

                <!-- 로그인 -->
                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <th:block th:if="${news != null}">
                        <th:block th:each="e: ${news.items}">
                            <a th:href="${e.link}" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 newsTitle" th:utext="${e.title}">
                                        뉴스 제목
                                    </h5>
                                    <small class="newsDate" th:text="${#temporals.format(e.pubDate, 'yyyy-MM-dd HH:mm')}">뉴스 일자</small>
                                </div>
                                <p class="mb-1 text-start newsDec" th:utext="${e.description}">뉴스 내용</p>
                            </a>
                        </th:block>
                    </th:block>

                    <th:block th:if="${news == null}">
                        <a href="#" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    현재 저장 된 검색어가 존재하지 않습니다.
                                </h5>
                                <small></small>
                            </div>
                            <p class="mb-1 text-start"></p>
                        </a>
                    </th:block>
                </th:block>
                <!------------------------------------------ 뉴스 end ------------------------------------------>
            </div>
        </div>
    </div>
</th:block>
</body>

</html>