<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/html/header :: fragment-header}"></th:block>

    <style>
        .fixed-left-btn {
          position: fixed;
          top: 90%;
          left: 10px;
          transform: translateY(-50%);
          z-index: 1000;
        }

        .message-item {
            margin-bottom: 50px;
        }

        b {
            color: crimson;
        }

        .bi-trash:hover {
            cursor: pointer;
        }
    </style>

    <script th:inline="javascript">
    </script>

</head>
<body>
    <!-- nav -->
    <th:block th:replace="~{/fragments/html/nav :: fragment-nav}"></th:block>

    <!-- 자비스 -->
    <button class="btn btn-dark fixed-left-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span>
            Javis <span style="color: darkgrey"><i class="bi bi-command fs-6"></i> + J</span>
        </span>
    </button>

    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel"
        style="width: 100%">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="overflow-auto" id="wrap-javis" style="max-height: 90%; height: 90%">
                <ul class="navbar-nav" id="chat-list">
                    <th:block th:if="${chat != null}">
                        <li class="nav-item message-item" th:each="e: ${chat}">
                            <p>
                                <th:block th:if="${e.sender == 'user'}">
                                    <span class="badge text-bg-light" style="font-size: 20px">User</span>
                                    <span style="color: darkgray" th:text="${e.createTime}">2023-12-12 12:12</span>
                                </th:block>
                                <th:block th:if="${e.sender == 'assistant'}">
                                    <span class="badge text-bg-success" style="font-size: 20px">Javis</span>
                                    <span style="color: darkgray" th:text="|${e.model} Tokens ${e.totalTokens} / ${e.maxTokens}|">Tokens 123 / 13432</span>
                                </th:block>
                            </p>
                            <span class="chat-item" th:utext="${e.message}">채팅 내용</span>
                        </li>
                    </th:block>

                </ul>
            </div>

            <div class="form-floating">
                <textarea class="form-control" style="height: 80px; width: 98%" id="javisInput"></textarea>
                <!--<button class="btn btn-success" type="button" id="btn-javis-chat">Submit</button>-->
            </div>
        </div>
    </div>

    <div class="container text-center" style="margin-top: 30px; margin-bottom: 30px">
        <div class="row">
            <!-- 뉴스 -->
            <div class="col">
                <div style="display: flex; align-items: center">
                    <h1 class="text-start">
                        <span class="badge bg-dark">뉴스</span>
                    </h1>
                    <!-- 로그인 했을 시 -->
                    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <span class="hotKeyword-wrap" style="margin-left: 20px; color:gray">
                            <th:block th:each="e: ${hotKeywordList}">
                                <span class="hotKeyword" style="cursor: pointer" th:text="|#${e.keyword}|">#애플</span>
                            </th:block>
                        </span>
                    </th:block>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">#</span>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                           id="val-newsKeyword" th:value="${keyword} ?: ''">
                    </script>
                    <button class="btn btn-dark" type="button" id="btn-searchNews">검색</button>
                </div>
                <div class="overflow-auto" style="max-height: 75vh">
                    <div class="list-group" id="newsList">
                        <!------------------------------------------ 뉴스 start ------------------------------------------>
                        <!-- 비로그인 -->
                        <th:block th:if="!${#authorization.expression('isAuthenticated()')}">
                            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">
                                        로그인 이후에 이용하실 수 있습니다.
                                    </h5>
                                    <small></small>
                                </div>
                                <p class="mb-1 text-start"></p>
                            </a>
                        </th:block>

                        <!-- 로그인 -->
                        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                            <th:block th:if="${news != null}">
                                <th:block th:each="e: ${news.items}">
                                    <a th:href="${e.link}" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1 newsTitle" th:utext="${e.title}">
                                                뉴스 제목
                                            </h5>
                                            <small class="newsDate" th:text="${#temporals.format(e.pubDate, 'yyyy-MM-dd HH:mm')}">뉴스 일자</small>
                                        </div>
                                        <p class="mb-1 text-start newsDec" th:utext="${e.description}">뉴스 내용</p>
                                    </a>
                                </th:block>
                            </th:block>

                            <th:block th:if="${news == null}">
                                <a href="#" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">
                                            현재 저장 된 검색어가 존재하지 않습니다.
                                        </h5>
                                        <small></small>
                                    </div>
                                    <p class="mb-1 text-start"></p>
                                </a>
                            </th:block>
                        </th:block>
                        <!------------------------------------------ 뉴스 end ------------------------------------------>
                    </div>
                </div>
            </div>

            <!-- 해외축구 뉴스 -->
            <div class="col">
                <div style="display: flex; align-items: center">
                    <h1 class="text-start">
                        <span class="badge bg-dark">해외축구 뉴스</span>
                    </h1>
                </div>
                <div class="overflow-auto" style="max-height: 75vh; margin-top: 53px">
                    <!------------------------------------------ 해외축구 뉴스 start ------------------------------------------>
                    <div class="list-group" id="footballNewsList">
                        <!-- 비로그인 -->
                        <th:block th:if="!${#authorization.expression('isAuthenticated()')}">
                            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">
                                        로그인 이후에 이용하실 수 있습니다.
                                    </h5>
                                    <small></small>
                                </div>
                                <p class="mb-1 text-start"></p>
                            </a>
                        </th:block>

                        <!-- 로그인 -->
                        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                            <th:block th:each="e : ${footballNewsList}">
                                <a th:href="${e.link}" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1" th:text="${e.title}">
                                            뉴스 제목
                                        </h5>
                                    </div>
                                </a>
                            </th:block>
                        </th:block>
                    </div>
                    <!------------------------------------------ 해외축구 뉴스 end ------------------------------------------>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px">
            <!-- 일정 -->
            <div class="col">
                <h1 class="text-start"><span class="badge bg-dark">일정</span></h1>
                <div class="input-group mb-3">
                    <span class="input-group-text">내용</span>
                    <input type="text" class="form-control" id="schedule-content">
                    <span class="input-group-text">시간</span>
                    <input type="datetime-local" class="form-control" aria-label="Server" id="schedule-date">
                    <button class="btn btn-dark" type="button" id="btn-schedule-register">등록</button>
                </div>
                <div class="overflow-auto" style="max-height: 38vh">
                    <div class="list-group" id="scheduleList">
                        <!-- 비로그인 -->
                        <th:block th:if="!${#authorization.expression('isAuthenticated()')}">
                            <a class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">로그인 이후에 이용하실 수 있습니다.</h5>
                                    <small></small>
                                </div>
                                <p class="mb-1 text-start"></p>
                            </a>
                        </th:block>

                        <!-- 로그인 -->
                        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                            <th:block th:if="${scheduleList != null}">
                                <th:block th:each="e: ${scheduleList}">
                                    <div class="list-group-item list-group-item-action schedule-list" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1" th:text="${#temporals.format(e.date, 'yyyy-MM-dd HH:mm')} + ' ' + ${e.dayOfWeek}">2023-01-05 23:40 화요일</h5>
                                            <i class="bi bi-trash btn-delete-schedule" style="margin-right: auto; margin-left: 10px; font-size: 18px;"
                                               th:id="${e.scheduleId}">
                                            </i>
                                            <!-- 일정 남은 시간 표시 -->
                                            <small class="remaining-time"></small>
                                        </div>
                                        <p class="mb-1 text-start" th:text="${e.content}">점심약속</p>
                                    </div>
                                </th:block>
                            </th:block>

                            <th:block th:if="${scheduleList == null}">
                                <a class="list-group-item list-group-item-action" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">현재 등록 된 일정이 없습니다.</h5>
                                        <small></small>
                                    </div>
                                    <p class="mb-1 text-start"></p>
                                </a>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="col">
                <div style="display: flex; align-items: center">
                    <h1 class="text-start">
                        <span class="badge bg-dark">임시</span>
                    </h1>
                </div>

            </div>
        </div>
    </div>
</body>
</html>