<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/header :: fragment-header}"></th:block>

    <style>
        .fixed-left-btn {
          position: fixed;
          top: 90%;
          left: 10px;
          transform: translateY(-50%); /* Center the button vertically */
          z-index: 1000; /* Ensure it appears above other elements */
        }

        .message-item {
            margin-bottom: 50px;
        }
    </style>

    <script th:inline="javascript">
        $(document).ready(function () {

            $(document).keydown(function (e) {
                if (e.metaKey && e.key === "j") {
                    e.preventDefault();
                    $('#offcanvasDarkNavbar').offcanvas('toggle');
                }
            });

            // Offcanvas가 표시된 후에 실행되는 이벤트 핸들러 추가
            $('#offcanvasDarkNavbar').on('shown.bs.offcanvas', function () {
                // 1초 후에 실행되도록 설정
                $('#searchInput').focus();
            });

            function setMinTime() {
                var d= new Date()
                $('#datetimeInput').prop('min', new Date(d.getTime() - (d.getTimezoneOffset() * 60000)).toISOString().slice(0, 16));
            }
            setMinTime()

            $('#btn-searchNews').click('click', function() {
                var keyword = $('#val-newsKeyword').val();

                if(!keyword) {
                    alert('검색어를 입력해주세요.')
                    return false;
                }

                $.ajax({
                    type : 'get',           // 타입 (get, post, put 등등)
                    url : '/news/' + keyword,           // 요청할 서버url
                    dataType : 'json',       // 데이터 타입 (html, xml, json, text 등등)
                    /*
                        headers : {              // Http header
                            "Content-Type" : "application/json"
                        },
                        data : JSON.stringify({  // 보낼 데이터 (Object , String, Array)
                            "keyword" : keyword
                        }),
                    */
                    success : function(res) { // 결과 성공 콜백함수
                        $('#view-newsKeyword').text(res.keyword) // 검색어 세팅

                        $('#newsList').empty();
                        $.each(res.news.items, function(index, e) {
                            var newsItemHtml = `
                                <a href="${e.link}" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1 newsTitle">${e.title}</h5>
                                        <small class="newsDate">${e.pubDate.substring(0, 16)}</small>
                                    </div>
                                    <p class="mb-1 text-start newsDec">${e.description}</p>
                                </a>
                            `;

                            $('#newsList').append(newsItemHtml);
                        });

                        titleLength();
                    },
                    error : function(request, status, error) { // 결과 에러 콜백함수
                        console.log(error)
                    }
                })
            })

            // 뉴스 기사 제목 글자수 줄이기
            function titleLength() {
                var maxSize = 33;

                $('.newsTitle').each(function(i, e) {
                    var text = $(this).text();

                    if (text.length > maxSize) {
                        var truncatedText = text.substring(0, maxSize) + " ...";
                        $(this).text(truncatedText);
                    }
                })
            }
            titleLength();
        });
    </script>

</head>
<body>
    <th:block th:replace="~{/fragments/nav :: fragment-nav}"></th:block>

    <!-- 자비스 -->
    <button class="btn btn-dark fixed-left-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span>Javis <span style="color: darkgrey"><i class="bi bi-command fs-6"></i> + J</span></span>
    </button>

    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel"
        style="width: 100%">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="overflow-auto" style="max-height: 90%; height: 90%">
                <ul class="navbar-nav">
                    <li class="nav-item message-item">
                        <p>
                            <span class="badge bg-info" style="font-size: 20px">User</span>
                            <span style="color: darkgray">2023-08-03 14:23</span>
                        </p>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias blanditiis corporis eos impedit laboriosam laborum, laudantium minima molestiae necessitatibus nisi omnis perspiciatis quasi quos sit totam unde voluptas voluptates!
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur dicta distinctio dolorem doloremque, esse id illo incidunt mollitia odio optio possimus praesentium qui quidem, quod, repudiandae ullam velit voluptatem?
                        </span>
                    </li>

                    <li class="nav-item message-item">
                        <p>
                            <span class="badge bg-secondary" style="font-size: 20px">Javis</span>
                        </p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid amet deleniti distinctio eligendi eum facere, illo incidunt libero maxime non omnis perspiciatis provident repellat sapiente similique sunt? Facilis, odio?</span>
                    </li>

                    <li class="nav-item message-item">
                        <p>
                            <span class="badge bg-info" style="font-size: 20px">User</span>
                            <span style="color: darkgray">2023-08-03 14:23</span>
                        </p>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias blanditiis corporis eos impedit laboriosam laborum, laudantium minima molestiae necessitatibus nisi omnis perspiciatis quasi quos sit totam unde voluptas voluptates!
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur dicta distinctio dolorem doloremque, esse id illo incidunt mollitia odio optio possimus praesentium qui quidem, quod, repudiandae ullam velit voluptatem?
                        </span>
                    </li>

                    <li class="nav-item message-item">
                        <p>
                            <span class="badge bg-secondary" style="font-size: 20px">Javis</span>
                        </p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid amet deleniti distinctio eligendi eum facere, illo incidunt libero maxime non omnis perspiciatis provident repellat sapiente similique sunt? Facilis, odio?</span>
                    </li>

                    <li class="nav-item message-item">
                        <p>
                            <span class="badge bg-info" style="font-size: 20px">User</span>
                            <span style="color: darkgray">2023-08-03 14:23</span>
                        </p>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias blanditiis corporis eos impedit laboriosam laborum, laudantium minima molestiae necessitatibus nisi omnis perspiciatis quasi quos sit totam unde voluptas voluptates!
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur dicta distinctio dolorem doloremque, esse id illo incidunt mollitia odio optio possimus praesentium qui quidem, quod, repudiandae ullam velit voluptatem?
                        </span>
                    </li>

                    <li class="nav-item message-item">
                        <p>
                            <span class="badge bg-secondary" style="font-size: 20px">Javis</span>
                        </p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid amet deleniti distinctio eligendi eum facere, illo incidunt libero maxime non omnis perspiciatis provident repellat sapiente similique sunt? Facilis, odio?</span>
                    </li>

                    <li class="nav-item message-item">
                        <p>
                            <span class="badge bg-info" style="font-size: 20px">User</span>
                            <span style="color: darkgray">2023-08-03 14:23</span>
                        </p>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias blanditiis corporis eos impedit laboriosam laborum, laudantium minima molestiae necessitatibus nisi omnis perspiciatis quasi quos sit totam unde voluptas voluptates!
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur dicta distinctio dolorem doloremque, esse id illo incidunt mollitia odio optio possimus praesentium qui quidem, quod, repudiandae ullam velit voluptatem?
                        </span>
                    </li>

                    <li class="nav-item message-item">
                        <p>
                            <span class="badge bg-secondary" style="font-size: 20px">Javis</span>
                        </p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid amet deleniti distinctio eligendi eum facere, illo incidunt libero maxime non omnis perspiciatis provident repellat sapiente similique sunt? Facilis, odio?</span>
                    </li>

                    <li class="nav-item message-item">
                        <p>
                            <span class="badge bg-info" style="font-size: 20px">User</span>
                            <span style="color: darkgray">2023-08-03 14:23</span>
                        </p>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias blanditiis corporis eos impedit laboriosam laborum, laudantium minima molestiae necessitatibus nisi omnis perspiciatis quasi quos sit totam unde voluptas voluptates!
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur dicta distinctio dolorem doloremque, esse id illo incidunt mollitia odio optio possimus praesentium qui quidem, quod, repudiandae ullam velit voluptatem?
                        </span>
                    </li>

                    <li class="nav-item message-item">
                        <p>
                            <span class="badge bg-secondary" style="font-size: 20px">Javis</span>
                        </p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid amet deleniti distinctio eligendi eum facere, illo incidunt libero maxime non omnis perspiciatis provident repellat sapiente similique sunt? Facilis, odio?</span>
                    </li>

                    <li class="nav-item message-item">
                        <p>
                            <span class="badge bg-info" style="font-size: 20px">User</span>
                            <span style="color: darkgray">2023-08-03 14:23</span>
                        </p>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias blanditiis corporis eos impedit laboriosam laborum, laudantium minima molestiae necessitatibus nisi omnis perspiciatis quasi quos sit totam unde voluptas voluptates!
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur dicta distinctio dolorem doloremque, esse id illo incidunt mollitia odio optio possimus praesentium qui quidem, quod, repudiandae ullam velit voluptatem?
                        </span>
                    </li>

                    <li class="nav-item message-item">
                        <p>
                            <span class="badge bg-secondary" style="font-size: 20px">Javis</span>
                        </p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid amet deleniti distinctio eligendi eum facere, illo incidunt libero maxime non omnis perspiciatis provident repellat sapiente similique sunt? Facilis, odio?</span>
                    </li>

                    <li class="nav-item message-item">
                        <p>
                            <span class="badge bg-info" style="font-size: 20px">User</span>
                            <span style="color: darkgray">2023-08-03 14:23</span>
                        </p>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias blanditiis corporis eos impedit laboriosam laborum, laudantium minima molestiae necessitatibus nisi omnis perspiciatis quasi quos sit totam unde voluptas voluptates!
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur dicta distinctio dolorem doloremque, esse id illo incidunt mollitia odio optio possimus praesentium qui quidem, quod, repudiandae ullam velit voluptatem?
                        </span>
                    </li>

                    <li class="nav-item message-item">
                        <p>
                            <span class="badge bg-secondary" style="font-size: 20px">Javis</span>
                        </p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid amet deleniti distinctio eligendi eum facere, illo incidunt libero maxime non omnis perspiciatis provident repellat sapiente similique sunt? Facilis, odio?</span>
                    </li>



                </ul>
            </div>

            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" id="searchInput" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="container text-center" style="margin-top: 30px; margin-bottom: 30px">
        <div class="row">
            <!-- 뉴스 -->
            <div class="col">
                <div style="display: flex; align-items: center">
                    <h1 class="text-start">
                        <span class="badge bg-dark">뉴스</span>
                    </h1>
                    <h4 class="text-start" style="margin-left: 10px">
                        <span style="color: darkgrey" id="view-newsKeyword" th:text="${keyword}">@애플</span>
                    </h4>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="val-newsKeyword">
                    <!-- 비로그인 -->
                    <th:block th:if="!${#authorization.expression('isAuthenticated()')}">
                        <button class="btn btn-dark" type="button" onclick="alert('로그인 이후에 이용해 주세요.')">검색</button>
                    </th:block>
                    <!-- 로그인 -->
                    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <button class="btn btn-dark" type="button" id="btn-searchNews">검색</button>
                    </th:block>
                </div>
                <div class="overflow-auto" style="max-height: 370px">
                    <div class="list-group" id="newsList">
                        <!-- 비로그인 -->
                        <th:block th:if="!${#authorization.expression('isAuthenticated()')}">
                            <a href="#" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">
                                        로그인 이후에 이용하실 수 있습니다.
                                    </h5>
                                    <small></small>
                                </div>
                                <p class="mb-1 text-start"></p>
                            </a>
                        </th:block>

                        <!-- 로그인 -->
                        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                            <th:block th:each="e: ${news.items}">
                                <a href="${e.link}" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1 newsTitle" th:utext="${e.title}">
                                            뉴스 제목
                                        </h5>
                                        <small class="newsDate" th:text="${e.pubDate}">뉴스 일자</small>
                                    </div>
                                    <p class="mb-1 text-start newsDec" th:utext="${e.description}">뉴스 내용</p>
                                </a>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>

            <!-- 일정 -->
            <div class="col">
                <h1 class="text-start"><span class="badge bg-dark">일정</span></h1>
                <div class="input-group mb-3">
                    <span class="input-group-text">내용</span>
                    <input type="text" class="form-control" aria-label="Username">
                    <span class="input-group-text">시간</span>
                    <input type="datetime-local" class="form-control" aria-label="Server">
                    <button class="btn btn-dark" type="button">등록</button>
                </div>
                <div class="overflow-auto" style="max-height: 370px">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">2023-12-05 14:00 화요일</h5>
                            <small class="text-danger">2시간 전</small>
                        </div>
                        <p class="mb-1 text-start">점심약속</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">2023-12-05 14:00 화요일</h5>
                            <small>3일 전</small>
                        </div>
                        <p class="mb-1 text-start">점심약속</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">2023-12-05 14:00 화요일</h5>
                            <small>6일 전</small>
                        </div>
                        <p class="mb-1 text-start">점심약속</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">2023-12-05 14:00 화요일</h5>
                            <small>6일 전</small>
                        </div>
                        <p class="mb-1 text-start">점심약속</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">2023-12-05 14:00 화요일</h5>
                            <small>6일 전</small>
                        </div>
                        <p class="mb-1 text-start">점심약속</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">2023-12-05 14:00 화요일</h5>
                            <small>6일 전</small>
                        </div>
                        <p class="mb-1 text-start">점심약속</p>
                    </a>
                </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px">
            <div class="col">
                <h1 class="text-start"><span class="badge bg-dark">지도</span></h1>
                <div style="background-color: aquamarine; height: 500px">
                    <p>
                        <b>test</b> test
                    </p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>