<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/header :: fragment-header}"></th:block>
</head>

<body>
<th:block th:replace="~{/fragments/nav :: fragment-nav}"></th:block>

<div class="container mt-5">
    <form method="post" action="/join-process">
        <h2>회원가입</h2>
        <div class="mb-3">
            <label for="userId" class="form-label">ID</label>
            <input type="text" class="form-control" id="userId" name="userId" required>
        </div>
        <div class="mb-3">
            <label for="userPw" class="form-label">PASSWORD</label>
            <input type="password" class="form-control" id="userPw" name="userPw" required>
        </div>
        <button type="submit" class="btn btn-dark">Sign Up</button>
    </form>
</div>
</body>
</html>
